@page "/"
@inject NavigationManager NavigationManager

<div class="card bg-light text-dark shadow-lg">
    <div class="card-header text-center">
        <h3>Welcome to the main page for searching universities by country</h3>
    </div>
    <div class="card-body">
        <h4 class="text-center">Search by country or name</h4>
        <p>Enter a country or a name to see all relevant universities, eg: Ireland & Tech, Spain & Valencia</p>
        <div class="form-group">
            <input class="form-control my-2" placeholder="Country" @bind="country" />
            <input class="form-control my-2" placeholder="Name" @bind="name" />
            <div class="clearfix">
                <button class="btn btn-outline-dark float-end" @onclick="SearchBoth">Search</button>
            </div>
            <p class="text-danger" style="display: @SearchErr">Invalid country or name</p>
        </div>

        <hr>

        <h4 class="text-center">Search by country</h4>
        <p>Enter a country to see all relevant universities, eg: Ireland, Spain, United States, ...</p>
        <div class="form-group">
            <input class="form-control my-2" placeholder="Country" @bind="country" />
            <div class="clearfix">
                <button class="btn btn-outline-dark float-end" @onclick="SearchCountry">Search</button>
            </div>
            <p class="text-danger" style="display: @SearchCountryErr">Invalid country</p>
        </div>

        <hr>

        <h4 class="text-center">Search by name of University</h4>
        <p>Enter the complete or partial name of a university eg: technical, valencia, art, ...</p>
        <div class="form-group">
            <input class="form-control my-2" placeholder="Name" @bind="name" />
            <div class="clearfix">
                <button class="btn btn-outline-dark float-end" @onclick="SearchName">Search</button>
            </div>
            <p class="text-danger" style="display: @SearchNameErr">Invalid name</p>
        </div>

        <hr>

        <h4>Compare countries</h4>
        <div class="form-group">
            <input class="form-control my-2" placeholder="Country 1" @bind="country1" />
            <input class="form-control my-2" placeholder="Country 2" @bind="country2" />
            <div class="clearfix">
                <button class="btn btn-outline-dark float-end" @onclick="CompareCountries">Search</button>
            </div>
        </div>
    </div>
</div>

@code {
    public string? SearchCountryErr = "None";
    public string? SearchNameErr = "None";
    public string? SearchErr = "None";
    private string? country = String.Empty;
    private string? name = String.Empty;
    private string? country1 = String.Empty;
    private string? country2 = String.Empty;

    public void SearchBoth()
    {
        if (country != String.Empty && name != String.Empty)
        {
            //if (country != String.Empty && name != String.Empty) {
                Console.WriteLine("Both");
                NavigationManager.NavigateTo("search-by-country-and-name/" + country + "/" + name);
            //}
            //else if (country != String.Empty)
            //{
            //    Console.WriteLine("Country only");
            //    SearchCountry();
            //}
            //else {
            //    Console.WriteLine("Name only");
            //    SearchName();
            //}
        }
        else
        {
            SearchErr = "";
        }
    }

    public void SearchCountry()
    {
        if (country != String.Empty)
        {
            if (country == "United States")
            {
                country = "United+States";
            }
            NavigationManager.NavigateTo("search-by-country/" + country);
        }
        else
        {
            SearchCountryErr = "";
        }
    }

    public void SearchName()
    {
        if (name != String.Empty)
        {
            NavigationManager.NavigateTo("search-by-name/" + name);
        }
        else
        {
            SearchNameErr = "";
        }
    }

    public void CompareCountries()
    {
        NavigationManager.NavigateTo("compare-countries/" + country1 + "/" + country2);
    }
}
