@inherits LayoutComponentBase

<div class="page">
    <main>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/">Home</a>
                    <a class="nav-item nav-link" href="/about">About</a>
                </div>
            </div>
        </nav>

        <article class="content px-4 bg-light text-dark">
            <div class="container">
                @Body
            </div>
        </article>
    </main>
</div>
