@page "/about"
@inject NavigationManager NavigationManager

<div class="card bg-light text-dark shadow-lg">
    <div class="card-header text-center">
        <h3>About</h3>
    </div>
    <div class="card-body">
        <h5>API used: http://universities.hipolabs.com/</h5>
        <hr>

        <h5>GitHub page: https://github.com/milan-murray/enterprise-application-development-ca3.git</h5>
    </div>
</div>

@code {
}
