@page "/"
@inject NavigationManager NavigationManager

@*
@inject Blazored.LocalStorage.ILocalStorageService localStorage
*@

<h3>Welcome to the main page for searching universities by country</h3>

<h4>Search a country</h4>
<div class="form-group">
    <input placeholder="Country" @bind="country" />
</div>
<div class="form-group">
    <button @onclick="SearchCountry">Search</button>
</div>

<h4>Compare countries</h4>
<div class="form-group">
    <input placeholder="Country 1" @bind="country1" />
    <input placeholder="Country 2" @bind="country2" />
</div>
<div class="form-group">
    <button @onclick="CompareCountries">Search</button>
</div>


@code {
    private string country = String.Empty;
    private string country1 = String.Empty;
    private string country2 = String.Empty;

    public async void SearchCountry()
    {
        NavigationManager.NavigateTo("search-by-country/" + country);
    }

    public async void CompareCountries()
    {

    }
}
